rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Corrected path from /uid/{userId} to /users/{userId}
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    match /meal_plans/{planId} {
      // Allow create for any authenticated user
      allow create: if request.auth != null;
      // Allow read/write only if the user's UID matches the userId on the document
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
		}
		match /saved_recipes/{recipeId} {
      allow create: if request.auth != null;
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
		}
  }
}